<form class="d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 w-100 navbar-search float-right">
    <div class="input-group">
        <label for="totalRows" class="form-control bg-light border-0 text-right d-none d-sm-inline">Total Rows: {{totalRows}} </label>
        <label for="pageSize" class="form-control bg-light border-0 text-right d-none d-sm-inline">Show: </label>
        <select name="pageSize" id="pageSize" class="form-control bg-light small d-sm-block" [(ngModel)]="pageSize" (change)="changeSize();currentPage=1">
            <option *ngFor="let size of pageSizeOptions" value="{{size}}">{{size}} rows</option>
        </select>
        <label for="totalRows" class="form-control bg-light border-0 text-right d-none d-sm-inline">Pages: {{pages.length}} </label>
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="cursor: pointer;">
                <li class="page-item mx-1"><a class="page-link" (click)="paginationFirst()"><i class="fa fa-angle-double-left"></i></a></li>
                <li class="page-item mx-1"><a class="page-link" (click)="paginationPrev()"><i class="fa fa-angle-left"></i></a></li>
                <!-- <li class="page-item btn btn-circle" *ngFor="let page of pages" [ngClass]="(currentPage == page) ? 'active' : ''"><a class="page-link" (click)="pagination(page)">{{page}}</a></li> -->
                <li class="page-item mx-1 btn btn-circle active"><a class="page-link">{{currentPage}}</a></li>
                <li class="page-item mx-1"><a class="page-link" (click)="paginationNext()"><i class="fa fa-angle-right"></i></a></li>
                <li class="page-item mx-1"><a class="page-link" (click)="paginationLast()"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
        </nav>
    </div>
</form>
